button {
  align-items: center;
  background-color: transparent;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  font-size: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 0.7rem 3rem;
}

button:hover {
  cursor: pointer;
}

button:hover span {
  box-shadow: inset 0 -0.5rem 0 var(--shadow-color);
}

h2 {
  color: teal;
  font-size: 140%;
  margin-bottom: 1rem;
}

#names {
  background-color: transparent;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--text-color);
  margin-bottom: 1rem;
  max-width: 20rem;
  padding: 0.5rem;
  resize: none;
  width: 100%;
  /* TODO: hand-drawn border */
}

#names:focus {
  border: var(--border-width) solid teal;
}

#number-of-groups {
  background-color: transparent;
  border: none;
  border-bottom: var(--border-width) solid var(--border-color);
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 3rem;
}

#number-of-groups:focus {
  border-bottom-color: teal;
}

#result {
  margin: 4rem 0 2rem 0;
  visibility: hidden;
}

#result {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#result .container {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  margin: 1rem;
  max-width: 18rem;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  #result .container {
    width: 16rem;
  }
}

@keyframes shaking {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake {
  animation-name: shaking;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}
