/* other nice fonts: Annie Use Your Telescope, Pangolin */
@font-face {
  font-family: NeulandFont;
  src: url(NeulandFont_2017.ttf);
}

:root {
  --border-color: #333;
  --border-radius: 5px;
  --border-width: 2px;
  --text-color: #333;
  --footer-text-color: #999;
  --shadow-color: rgba(0, 128, 128, 0.4);
  --nice-orange: rgba(255, 166, 60, 0.75);
}

body {
  background-color: ivory;
  color: var(--text-color);
  font-family: "NeulandFont", cursive;
  font-size: 100%;
}

footer {
  color: var(--footer-text-color);
  font-size: 80%;
  margin-bottom: 2rem;
  text-align: center;
}

footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: var(--footer-text-color);
  text-decoration: underline;
}

footer a:hover,
footer a:active {
  color: teal;
}

#overview {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;
  min-height: 90vh;
}

#legal {
  margin: 2rem;
  min-height: 90vh;
}

#legal h1 {
  font-size: 160%;
  line-height: 200%;
}

#legal h1 span,
#legal h2 span,
#legal h3 span {
  box-shadow: inset 0 -0.5rem 0 var(--shadow-color);
}

#legal h2 {
  font-size: 120%;
  line-height: 200%;
}

#legal h3 {
  font-size: 120%;
  line-height: 200%;
}

#legal p,
#legal ul {
  margin-bottom: 1rem;
}

#legal ul li {
  list-style-type: disc;
  margin-left: 1rem;
}

#legal small {
  font-size: small;
  font-style: italic;
}

.container {
  align-items: center;
  border: solid var(--border-color);
  box-shadow: 8px 8px 1px var(--shadow-color);
  box-sizing: border-box;
  display: flex;
  height: 12rem;
  justify-content: center;
  padding: 1rem;
  transition: 0.4s ease-in-out;
  width: 12rem;
}

.container:hover {
  transform: scale(120%);
  z-index: 5;
}

.container1 {
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  border-width: 3px 4px 3px 5px;
  transform: rotate(2deg);
}

.container2 {
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  border-width: 3px 3px 5px 5px;
  transform: rotate(-2deg);
}

.container3 {
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  border-width: 5px 3px 3px 5px;
  transform: rotate(2deg);
}

.tool-selection {
  color: var(--text-color);
  height: 8rem;
  text-decoration: none;
  width: 12rem;
}

.tool-selection span {
  transition: 0.4s ease-in-out;
}

.tool-selection:hover span,
.tool-selection.box:focus span {
  box-shadow: inset 0 -0.5rem 1px var(--shadow-color);
}
